@font-face {
    font-family: biolinum;
    src: url(fonts/LinBiolinum_R.woff);
}
@font-face {
    font-family: biolinum;
    src: url(fonts/LinBiolinum_RB.woff);
    font-weight: bold;
}
body {
  background-color: #002B36;
  color: white;
	font-family: "Linux Biolinum O", "Linux Biolinum", biolinum, sans-serif;
  font-size: 14pt;
}
#language {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 10px;
  font-size: 13pt;
}
#site {
  max-width: 830px;
  text-align: left;
  line-height: 1.5em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.5em;
}
.centred {
  text-align: center;
}
a {
  text-decoration: none;
  color: #C4DCDE;
}
a:hover {
  text-decoration: underline;
}
a.download-link {
  background-color: #A2D434;
  border-radius: 10px;
  padding: 5px 10px;
  color: black;
  font-weight: bold;
}
a.download-link:hover {
  text-decoration: none;
  background-color: #D0F07D;
}
.bloc {
  display:inline-block;
  vertical-align:middle;
}
