body {
  background-color: #002B36;
  color: white;
	font-family: "Linux Biolinum O", "Linux Biolinum", verdana, geneva, sans-serif;
  font-size: 14pt;
}
#site {
  max-width: 830px;
  text-align: left;
  line-height: 1.5em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.5em;
}
.centred {
  text-align: center;
}
a {
  text-decoration: none;
  color: #C4DCDE;
}
a:hover {
  text-decoration: underline;
}
a.download-link {
  background-color: #BFE950;
  border-radius: 10px;
  padding: 5px 10px;
  color: black;
  font-weight: bold;
}
a.download-link:hover {
  text-decoration: none;
  background-color: white;
}
.bloc {
  display:inline-block;
  vertical-align:middle;
}
