@font-face {
  font-family: biolinum;
  src: url(fonts/LinBiolinum_R.woff);
}
@font-face {
  font-family: biolinum;
  src: url(fonts/LinBiolinum_RB.woff);
  font-weight: bold;
}
@font-face {
  font-family: biolinum-keyboard;
  src: url(fonts/LinBiolinum_K.woff);
}
body {
  background-color: #002B36;
  color: white;
  font-family: "Linux Biolinum O", "Linux Biolinum", biolinum, sans-serif;
  font-size: 13pt;
}
#language {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 10px;
  font-size: 13pt;
}
#contact {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 10px;
  font-size: 13pt;
}
#site {
  max-width: 830px;
  text-align: left;
  line-height: 1.5em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.5em;
}
.centred {
  text-align: center;
}
a {
  text-decoration: none;
  color: #C4DCDE;
}
a:hover {
  text-decoration: underline;
}
a.download-link {
  border-radius: 10px;
  padding: 5px 10px;
  color: black;
  font-weight: bold;
  background-image: linear-gradient(to bottom, #69AA00, #BFE950, #69AA00);
}
a.download-link:hover {
  text-decoration: none;
  background-image: linear-gradient(to bottom, #A2D434, #D0F07D, #A2D434);
}
.bloc {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, #002B36, #aaa, #002B36);
}
hr.title-sep {
  background-image: linear-gradient(to right, #002B36, #fff, #002B36);
  margin: 2px;
  height: 2px;
}
p.question {
  font-weight: bold;
  color: #82A6A5;
}
key {
    font-family: biolinum-keyboard;
}
word {
  border-radius: 100px;
  padding: 2px 6px;
  color: black;
  font-weight: bold;
  background-image: linear-gradient(to bottom, #69AA00, #BFE950, #69AA00);
}
text {
  border-radius: 4px;
  padding: 2px 6px;
  color: black;
  font-weight: bold;
  background-image: linear-gradient(to bottom, #82A6A5, #FFFFFF, #82A6A5);
}
vocab {
  border-radius: 100px;
  padding: 2px 6px;
  color: black;
  font-weight: bold;
  background-image: linear-gradient(to bottom, #FF0000, #FF9C7F, #FF0000);
}
class {
  border-radius: 4px;
  padding: 2px 6px;
  color: black;
  font-weight: bold;
  background-image: linear-gradient(to bottom, #0985FF, #6BD7FF, #0985FF);
}
slot {
  border-radius: 100px;
  padding: 2px 6px;
  color: black;
  font-weight: bold;
  background-image: linear-gradient(to bottom, #0985FF, #6BD7FF, #0985FF);
}
io {
  border-radius: 100px;
  padding: 2px 6px;
  color: white;
  font-weight: bold;
  background-image: linear-gradient(to bottom, #82A6A5, #002B36, #82A6A5);
}
.button {
  margin-top: 20px;
  width: 181px;
  color: white;
  padding-top: 25px;
  padding-bottom: 25px;
  font-weight: bold;
  background-image: url(images/button-inactive.png);
  display: inline-block;
  text-align: center;
}
